.coffee {
  @media (max-width: 640px) {
    background: linear-gradient(to bottom, $light-blue 0%, #fff 100%);
  }
}

.coffee-slider {
  position: relative;
  z-index: 5;
  .slick-slide {
    background: $light-blue;
    padding: rem(89 280 93 89);
    border-radius: rem(10);
    box-shadow: 0 rem(15 25) rgba(0, 0, 0, 0.05);
    margin: 0 rem(50);
    opacity: 0.6;
    transition: opacity 250ms;
    cursor: pointer;
    &.slick-current.slick-active {
      opacity: 1;
      .btn {
        pointer-events: all;
      }
    }
    @media (max-width: 640px) {
      margin: rem(0 20 30, 14);
      padding: rem(54 30 221, 14);
      box-shadow: 0 rem(15 25) rgba(138, 169, 210, 0.25);
    }
  }
  .slick-track {
    margin: 0;
    padding-bottom: rem(30);
    display: flex;
    align-items: center;
    @media (max-width: 640px) {
      display: block;
      padding-bottom: 0;
    }
  }
  .btn {
    position: relative;
    z-index: 1000;
    line-height: 1;
    pointer-events: none;
    padding: rem(24 84 23);
    @media (max-width: 640px) {
      padding: rem(16 46 15, 14);
    }
  }
  .slick-list {
    @media (max-width: 640px) {
      padding: 0 0 rem(30) !important;
    }
  }
}

.coffee-slider__slide {
  &--second {
    .coffee-slider__text {
      max-width: rem(480);
    }
  }
}

.coffee-slider__title {
  margin-bottom: rem(35);
  font: {
    size: rem(22);
    family: 'Solomon-Black', sans-serif;
    weight: 700;
  }
  span {
    font-size: rem(42);
  }
  @media (max-width: 640px) {
    font-size: rem(16, 14);
    margin-bottom: rem(15, 14);
    line-height: 1.25;
    span {
      font-size: rem(22, 14);
    }
  }
}

.coffee-slider__list {
  column-count: 2;
  margin-bottom: rem(55);
  max-width: rem(470);
  @media (max-width: 640px) {
    max-width: none;
    column-count: 1;
    margin-bottom: rem(20, 14);
  }
}

.coffee-slider__item-list {
  color: #000;
  font-size: rem(18);
  padding-left: rem(17);
  position: relative;
  &:not(:last-child) {
    margin-bottom: rem(15);
  }
  &:before {
    content: '';
    background: #fff;
    border: 1px solid $rose;
    box-shadow: 0 rem(3 5) rgba(226, 51, 77, 0.25);
    min-width: rem(7);
    min-height: rem(7);
    width: rem(7);
    height: rem(7);
    position: absolute;
    // top: 50%;
    top: rem(8);
    left: 0;
    transform: translateZ(0);
    // transform: translateY(-50%);
    border-radius: 50%;
  }
  @media (max-width: 1440px) {
    &:before {
      min-width: 7px;
      width: 7px;
      min-height: 7px;
      height: 7px;
      top: 6px;
    }
  }
  @media (max-width: 1280px) {
    &:before {
      top: 5px;
    }
  }
  @media (max-width: 1080px) {
    &:before {
      min-width: 4px;
      width: 4px;
      min-height: 4px;
      height: 4px;
      top: 4px;
    }
  }
  @media (max-width: 920px) {
    &:before {
      top: 3px;
    }
  }
  @media (max-width: 640px) {
    font-size: 1rem;
    &:not(:last-child) {
      margin-bottom: 2px;
    }
    &:before {
      min-width: 6px;
      width: 6px;
      min-height: 6px;
      height: 6px;
      top: 50%;
      transform: translateY(-50%);
    }
  }
}

.coffee-slider__text {
  margin-bottom: rem(35);
  color: #000;
  font-size: rem(18);
  @media (max-width: 640px) {
    font-size: 1rem;
    margin-bottom: rem(20, 14);
  }
}

.coffee-slider__img {
  position: absolute;
  bottom: 0;
  z-index: 5;
  &--first {
    max-width: rem(378);
    right: 0;
    @media (max-width: 640px) {
      height: rem(210, 14);
      max-width: rem(265, 14);
      img {
        @include img-contain;
      }
    }
  }
  &--second {
    max-width: rem(203);
    right: rem(60);
    @media (max-width: 640px) {
      height: rem(210, 14);
      max-width: rem(265, 14);
      right: 0;
      img {
        @include img-contain;
      }
    }
  }
  &--third {
    max-width: rem(174);
    right: rem(65);
    @media (max-width: 640px) {
      height: rem(210, 14);
      max-width: rem(265, 14);
      right: 0;
      img {
        @include img-contain;
      }
    }
  }
}
