@font-face {
    font-family: 'Solomon';
    font-weight: normal;
    src: url('../fonts/Solomon-Sans-Normal.otf') format('otf')
         url('../fonts/Solomon-Sans-Normal.ttf') format('truetype');
}

@font-face {
    font-family: 'Solomon-Black';
    font-weight: 700;
    src: url('../fonts/Solomon-Sans-Black.otf') format('otf'),
         url('../fonts/Solomon-Sans-Black.ttf') format('truetype');
}

@font-face {
    font-family: 'Solomon-Black-SemiBold';
    font-weight: normal;
    src: url('../fonts/Solomon-Sans-SemiBold.otf') format('otf');
}

//
// @font-face {
//     font-family: 'Helvetica-Custom';
//     font-weight: 300;
//     src: url('../fonts/HelveticaLight.woff') format('woff'),
//          url('../fonts/HelveticaLight.ttf')  format('truetype');
// }
