@font-face {
    font-family: 'Solomon';
    font-weight: normal;
    font-display: swap;
    src: url('../fonts/Solomon-Sans-Normal.otf') format('otf')
         url('../fonts/Solomon-Sans-Normal.ttf') format('truetype');
}

@font-face {
    font-family: 'Solomon-Black';
    font-weight: 700;
    font-display: swap;
    src: url('../fonts/Solomon-Sans-Black.otf') format('otf'),
         url('../fonts/Solomon-Sans-Black.ttf') format('truetype');
}

@font-face {
    font-family: 'Solomon-Black-SemiBold';
    font-weight: normal;
    font-display: swap;
    src: url('../fonts/Solomon-Sans-SemiBold.otf') format('otf');
}
