$main-font: 'Solomon', sans-serif;
$main-fz: 16px;

$main-font-color: #000000;
$alt-font-color: #1d2b3a;

$rose: #e2334d;
$rose-2: #f4204f;
$rose-3: #e4314d;
$blue: #347be3;
$light-blue: #f7fafe;
$link-blue: #4b8def;
$gray: #404040;
$alt-gray: #8b9198;


$button-bg: linear-gradient(-10deg, #347be3 0%, #5394f3 100%);
$button-hover-bg: linear-gradient(-10deg, #3c84ec 0%, #74acff 100%);
$button-active-bg: linear-gradient(-10deg, #2d6dcb 0%, #3b81e8 100%);
$button-alt-bg: linear-gradient(-10deg, #cfe4ff 0%, #ffffff 100%);
