section.coffee-calc
  .container
    h2.coffee-calc__title Узнайте примерную стоимость кофе
    .coffee-calc__range-block.decor-block
      .coffee-calc__decor-img
        img(src="/img/coffee_bean.png", alt="Кофейное зерно")
      .coffee-calc__range.range
        input(id='range', type="range", name="range", min="3", max="100", step="1", value="3")
      .coffee-calc__range-info
        .coffee-calc__amount-coffee
          .coffee-calc__caption Объём кофе
          .coffee-calc__value._value ~ 3 кг в месяц
        .coffee-calc__price
          .coffee-calc__caption Стоимость
          .coffee-calc__value._price 5000 руб.
    .coffee-calc__subtext от 10 рублей за кружку кофе
    a(data-fancybox, data-options='{"src": "#request-modal", "touch": false}' href="javascript:;").btn оставить заявку<br />на бесплатный расчет
