header.header
  .container
    .header__left-col
      include ./logo
    .header__right-col
      a.header__tel(href="tel:+78126034911") +7 (812) 603-4-911
      a.header__mail(href="mailto:info@911office.ru") info@911office.ru
