section.intro
  include ./header
  .container
    .intro__mobile-text Поставка кофе и оборудования <br />для HoReCa
    h1.intro__title Получите <span class="color-rose-3">бесплатно</span> Профессиональную кофемашину в аренду
    .intro__decor
      img(src="img/intro_img.png", alt="Профессиональная кофемашина в аренду")
      .intro__red-label.intro__red-label--mobile
        .intro__red-label-icon
          img(src="img/intro_red-label-icon.png", alt="Кружка кофе")
        | Платите<br />только за кофе<br /><span class="intro__red-label-price">от 10 руб</span><span class="font-size-14">за чашку</span>
    .intro__row
      .intro__descr
        .intro__descr-img
          img(src="img/intro_descr.png", alt="Пожизненное обслуживание")
        p.intro__text <span class="color-blue">Пожизненное обслуживание</span><br />Ремонт в подарок
      .intro__red-label.intro__red-label--desktop
        .intro__red-label-icon
          img(src="img/intro_red-label-icon.png", alt="Кружка кофе")
        | Платите<br />только за кофе<span class="intro__red-label-price">от 10 руб</span><span class="font-size-14">за чашку</span>
    .intro__bottom-container
      a(data-fancybox, data-options='{"src": "#tasting-modal", "touch": false}' href="javascript:;").btn Запишитесь на бесплатную<br />дегустацию кофе
      .intro__label
        .intro__label-bg
          img(src="img/intro_label.png", alt="")
        .intro__label-img
          img(src="img/intro_coffee.png", alt="Презентация оборудования")
        .intro__label-text И презентацию<br/>оборудования
