div(id="presentation-modal", style="display: none;").modal.decor-block
  .modal__title Записаться на презентацию оборудования
  form(id="request_form").modal__form.form
    .form__item
      input(type="text", placeholder="Ваше имя", required).form__input
    .form__item
      input(type="tel", placeholder="Номер телефона", required).form__input
    button(type="submit").modal__btn.btn Записаться
