-
  var steps = [
    "Оставьте заявку или <a href=''>свяжитесь с нами</a>",
    "Мы подберем кофемашину под ваше заведение и проконсультируем при&nbsp;выборе кофе",
    "Бесплатно доставим кофе и&nbsp;кофемашину к Вам",
  ];

section.procedure
  .container
    .procedure__decor
      img(src="img/procedure_decor.png", alt="Декоративное изображение")
    h2.procedure__title Как получить кофемашину
    .procedure__container
      .procedure__steps
        each item, index in steps
          .procedure__step
            .procedure__step-img
              img(src="img/steps/step-" + index + ".png", alt="Шаг-" + index)
            .procedure__step-text!= item
      .procedure__img
        img(src="img/steps/step_img.png", alt="Как получить кофемашину")
    a(data-fancybox, data-options='{"src": "#presentation-modal", "touch": false}' href="javascript:;").btn Получить кофемашину
