section.request
  .container
    .request__block
      p.request__text Брать у нас кофе и получить бесплатную аренду<br />профессиональной кофемашины<br />это выгодно и просто.
      p.request__text.request__text--blue Мы сами будем за ней следить, а вам нужно будет только варить кофе.
      a(data-fancybox, data-options='{"src": "#request-modal", "touch": false}' href="javascript:;").btn Оставить заявку<br />на бесплатный расчет
