-
  var reviewsSlides = [
    {
      "logo": "coffee-like.jpg",
      "author": "Coffe Like",
      "text": "Берем в аренду профессиональное кофейное оборудование у “911офис” уже долгое время. Довольны как качеством оборудования, так и сервисом компании. Всегда оперативно решают проблемы с ремонтом и обслуживанием, хотя ремонт практически никогда и не требуется, потому, что машины очень надежные. Тот самый случай, когда компания решает проблемы клиента и не создает дополнительных, за что, большое вам спасибо!"
    },
    {
      "logo": "zvezda-nevy.jpg",
      "author": "Звезда Невы",
      "text": "В первую очередь, хотим сказать, что это вкуснейший и качественный кофе! Всегда очень приятный аромат и яркий вкус, прям как в рекламе. Также, хотим выразить благодарность ребятам за отличный сервис, быстрое обслуживание и удобные кофемашины. Это не идеальное соотношения цены и качества, потому, что уровень качество намного выше цены! Всем рекомендуем."
    },
    {
      "logo": "british-bakery.jpg",
      "author": "Британские пекарни",
      "text": "Заказываем на регулярной основе как простой кофе, так и кофе в чалдах без кофеина, горячий шоколад и много другой вкусной продукции у “911Офис”. Всем довольны, все вкусно. Классные кофемашинки, выдерживают большой поток без перебоев. Приятно с вами работать!"
    },
    {
      "author": "Карина",
      "text": "Очень удобно, что в наше время стала жизнь проще и есть такие вот компании, как <span class='bold'>911office</span>. Мы давно мечтали купить на работу кофемашину, но цены на хорошую очень высоки, а вот взять в аренду вполне доступно. Узнала об этой компании от друзей. Они уже около года работаю с ними. И мы очень довольны обслуживанием. Машины все в идеальном состоянии, работают прекрасно, без нареканий. Машины чистят и проверяют регулярно. Так что у нас голова ни о чем не болит!"
    },
    {
      "author": "Олеся Дяченко",
      "text": "Недавно стали пользоваться услугами компании <span class='bold'>911office</span> и хочу сказать я вам, что штука конечно огонь. Я давно мечтала поставить в офис кофемашины, но было очень дорого платить за покупку. А тут всеми девчонками скинулись за аренду и теперь у нас есть крутая кофемашина. Я теперь даже каждому понедельнику радуюсь. Лишь бы быстрее прийти на работу и попить вкусный ароматный кофе!"
    },
    {
      "author": "Сергей Андреенко",
      "text": "Отличная компания. Пользуемся ее услугами уже на протяжении полутора лет и нет никаких нареканий. Очень удобно, что не надо сразу выбрасывать огромную сумму за хорошую кофемашину и думать о ее обслуживании. Ремонтируют все вовремя, никогда не возникало проблем и кофе очень вкусный! Компанию <span class='bold'>911office</span> рекомендую!"
    },
    {
      "author": "Артём",
      "text": "Отмечу, что фирма очень хорошая. У нас большой опыт сотрудничества с подобными компаниями, так как очень удобно, что голова не болит по поводу обслуживания кофемашин, но <span class='bold'>911office</span> понравилась больше всего. Так как обслуживание производится своевременное. Техника высокого качества, как и сырьё. Кофе очень вкусный. Наши клиенты постоянно это подмечают, а нам приятно!"
    },
    {
      "author": "Анна",
      "text": "Всем советую компанию <span class='bold'>911office</span>. Нам очень нравится сотрудничать с ней. Работают как часы. Заказал, все привезли в тот же день. Кофе отличный, я в нем разбираюсь. Аромат и вкус прекрасный, не терпкий и не горький. Машину каждый месяц приезжают и чистят. За четыре месяца ни одной поломки. Аппарат очень крутой, а за такую смешную цену так просто смешно!"
    },
    {
      "author": "Олег Мещериков",
      "text": "Берём в аренду кофемашины у <span class='bold'>911office</span> уже около 4х месяцев и теперь с уверенностью можем сказать, что компания надежная. Техника вся новая и качественная. Кофе также высшего качества. Оно очень приятное на вкус и имеет насыщенный аромат. Клиенты нашего офиса довольны. И Вам советуем их услуги!"
    },
    {
      "logo": "logo-1.svg",
      "author": "ООО «Сервисная Компания Интра»",
      "text":
        "Пользуемся услугами компании 911OFFICE уже на протяжении более двух лет. Радует организованность и пунктуальность доставок; в случае неисправности кофемашин оперативно предоставляется либо новая техника, либо производится ремонт на месте согласно договору в течение 48 часов без задержек. В нашем офисе работает 5 кофемашин от 911OFFICE , поэтому так важно, что оборудование полностью обслуживалось предоставляющей компанией от и до. Кофе всегда привозят свежей обжарки, никогда не встречаются пачки полугодовой давности. Спасибо 911OFFICE за бодрость нашей компании."
    },
    {
      "logo": "logo-2.svg",
      "author": "Студия красоты Varlet Studio",
      "text":
        "Пользуемся кофемашинами 911OFFICE в салонах нашей студии, очень удобный и оперативный сервис , а наши гости довольны кофейными комплиментами во время маникюра и педикюра."
    },
    {
      "logo": "logo-3.jpg",
      "author":
        "Комитет по физической культуре, спорту, туризму и молодёжной политики администрации Гатчинского муниципального района ленинградской области",
      "text":
        "Сотрудничаем с 911OFFICE при проведении мероприятий в Гатчинском муниципальном районе. Подарочные изделия от 911OFFICE, а так же организация кофепойнтов на соревнованиях и праздниках выше всяких похвал. Комитет рекомендует выбирать в качестве партнеров компанию 911OFFICE."
    }
  ];
  
section.reviews
  h2.reviews__title Что о нас говорят клиенты
  .reviews__slider.reviews-slider
    each review in reviewsSlides
      div.decor-block
        if review.logo
          .reviews-slider__logo
            img(src="/img/reviews/" + review.logo, alt= review.author)
        .reviews-slider__descr
          .reviews-slider__company-name= review.author
          p.reviews-slider__text!= review.text
