div(id="tasting-modal", style="display: none;").modal.decor-block
  .modal__title Записаться на дегустацию и презентацию оборудования
  form.modal__form.form(action="", method="post", id="tasting_form", data-name="Дегустация и презентация оборудования")
    .form__item
      input(type="text", placeholder="Ваше имя", required).form__input._name
    .form__item
      input(type="tel", placeholder="Номер телефона", required).form__input._tel
    button(type="submit").modal__btn.btn Записаться
